<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <title>Hello World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../custom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

	<body>
		<div class="container">
			<h2>Hello World</h2>
			<h1>Hello <script type="text/javascript"><%:session["name"]%></script></h1>
			<div class="panel-group">
			
				<div class="panel panel-default panel-collapse" id="initialInfo">
					<div class="panel-heading">Why?</div>
				 	<div class="panel-body">
				 		<p>As programmers we are very imaginative and creative ... but not when it comes to the examples we use! </p>
				 		<p>Hello World is a standard example used in order to see the basics of a new programming language. </p>
				 		<P>It's stupidly simple but it allows a quick look at how to word and write a new programming language.</p>
				 	</div>
				 	<div class="panel-footer">
				 		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#furtherInfo">Read Block</button>
				 	</div>				
				</div>
			
				<div class="panel panel-default panel-collapse collapse" id="furtherInfo">
					<div class="panel-heading">What?</div>
				 	<div class="panel-body">
				 		<p>Hello World gets the system to print out the words ... "Hello World". </p>
				 		<p>It really is that simple! It writes those words out to the user using the console or simplest output that the language allows for.</p>
				 	</div>
				 	<div class="panel-footer">
				 		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#codeChallenge">Read Block</button>
				 	</div>				
				</div>
				
				<div class="panel panel-default panel-collapse collapse" id="codeChallenge">
					<div class="panel-heading">Code Challenge</div>
				 	<div class="panel-body">
				 		<p> To output in Java, the simplest way is to print to the console. The console basically just ouputs anything you tell it to and can be seen in any Java editor, like eclipse.</p>
				 		<p>The Java command for writing to the console is - System.out.println();</p>
				 		<p>It tells the programme to print a new line (println()) to the console (System.out) with the ; signifying the end of the command. <b>In the brackets after println we can put anything we want to show in the console. </b> If it is text we just have to rememeber to put it in quotes!</p>
				 		<p>In the box below; write the code to output "Hello World" to the system console.</p>
				 		<form action="../../HelloWorldServlet" method="post">
				 			<input type="text" name="code" placeholder="Enter Code Here!" class="form-control">
				 			<br>
				 			<input type="submit" class="btn btn-default" value="Test Code!">
				 		</form>
				 	</div>
				 	<div class="panel-footer">
				 		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#furtherInfo">Read Block</button>
				 	</div>				
				</div>
				
			</div>
		</div>
	</body>
	
</html>